*{
    margin: 0;
    padding: 0;
}
.nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 70px;
}
ul li{
    display: inline-block;
    padding:20px;
}
li a{
    text-decoration: none;
}

.logo{
    width: 20%;
    height: 20%;
    padding-top: 2%;
    margin-left: 50px;
    position: relative;
    z-index: 1;
}   
.home{
    background-image: url(alinebg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;    
}
.info{
    display:flexbox;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 120px;
    position: relative;
    z-index: 1;
} 
.text-warning
{
    position: relative;
    z-index: 1;
}
.btn {
    background-color: white;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: yellow;
  }
.social-media {
  
    justify-content: center;
    margin-top : 30px;
    margin-left : 50px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}
.quote{
   
    justify-content: end;
    margin-top: 30px;
    margin-left: 75rem;  
    position: relative;
    z-index: 1;
}
.overlay
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 105vh !important;
    background-color: rgba(10,10,10,0.8);
    z-index: 0;   
}
/* --------------------------------About Page------------------------------------------ */

 .img-area img{
    border-radius: 50px;
    box-sizing: 20px;
    margin-top: 20px;
}
.about-text h3{
    font-size:  45px;
    font-weight: 700;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 40px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;

}
.tab-links::after{
    content: '';
    width:0;
    height: 3px;
    background: chocolate;
    position: absolute;
    left: 0;
    bottom: -8px;
    transform: 0.5s;

}
.tab-links.active-link::after {
    width: 50px;
    color: chocolate;
    font-size: 14px;
      
}
 .tab-contents{
    
}   

/* -----------------------------------contact page------------------------- */

.Contact{
    background-color: #031540; 
    color: white; 
    padding-top: 5%;
}
.text-center{
    padding-left: 40px;
}

.infocontact{
    margin-left: 100px;
}

.address h4 p{
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #2c4964;
}

 
